@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");

.homePageContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: "Noto Sans Thai", sans-serif;
  overflow: hidden;
}

/* Sidebar */
.BoxZone1 {
  background-color: #373330;
  width: 96px;
  min-width: 96px;
  max-width: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Zone1 {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}

.logoimg img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.line {
  border: none;
  height: 2px;
  background-color: #fff;
  width: 80px;
  margin: 20px 0;
  opacity: 0.5;
}

/* Buttons */
.profileButton,
.saleButton,
.exitButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 12px;
  opacity: 0.85;
  margin-bottom: 18px;
  width: 100px;
}

.exitButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100px;
}

.profileButton img,
.saleButton img,
.exitButton img {
  width: 32px;
  height: 32px;
  margin-bottom: 6px;
  object-fit: contain;
}

/* Main Content */
.BoxZone2 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Zone2 {
  background-color: #f8f8f8;
  height: 85px; /* Fix ความสูงใหม่ */
  min-height: 85px; /* Fix ความสูงขั้นต่ำใหม่ */
  max-height: 85px; /* Fix ความสูงสูงสุดใหม่ */
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.Zone3 {
  background-color: #ffffff;
  flex: 1;
  padding: 0px 2vw;
  height: 100%;
  min-height: 0;
  max-height: 100vh;
}

/* User Info */
.userInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0.7% 0 0 1.5%;
}

.companyInfo {
  font-size: 18px;
  color: #555;
  display: flex;
  align-items: center;
}

.bullet {
  font-size: 20px;
  margin-right: 8px;
  color: #007bff;
}

.userName {
  font-size: 26px;
  font-weight: 500;
  color: #2c3e50;
  margin-top: 0px;
}

/* ซ่อน scrollbar ในเบราว์เซอร์หลัก ๆ แต่ยังเลื่อนได้ */
.noScrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.noScrollbar::-webkit-scrollbar {
  display: none;
}
