@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");

.homePageContainer {
  display: flex;
  height: 100vh; /* ครอบ viewport */
  font-family: "Noto Sans Thai", sans-serif;
  width: 100vw; /* ให้กว้างเต็มจอ */
  overflow: hidden; /* ปิดการเลื่อนทั้งแนวตั้งและแนวนอน */
}

/* ซ่อน scrollbar ในเบราว์เซอร์หลัก ๆ แต่ยังเลื่อนได้ */
.noScrollbar {
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
}

/* Chrome, Safari, Edge (WebKit/Blink) */
.noScrollbar::-webkit-scrollbar {
  display: none;
}

/* Sidebar */
.BoxZone1 {
  background-color: #373330;
  width: 6.25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Zone1 {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.logoimg img {
  width: 75%;
}

.line {
  border: none;
  height: 2px;
  background-color: #fff;
  width: 60%;
  margin: 20px 0;
  opacity: 0.5;
}

/* Buttons */
.profileButton,
.saleButton,
.exitButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 24px;
}

.exitButton {
  position: absolute;
  bottom: 10px;
}

.profileButton img,
.saleButton img,
.exitButton img {
  width: 30%;
  padding-bottom: 6%;
}

/* Main Content */
.BoxZone2 {
  width: calc(100% - 6.25%);
  display: flex;
  flex-direction: column;
}

.Zone2 {
  background-color: #f8f8f8;
  height: 11%;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.Zone3 {
  background-color: #ffffff;
  flex-grow: 1;
  overflow-y: hidden;
  padding: 0px 40px;
}

/* User Info */
.userInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0.7% 0 0 1.5%;
}

.companyInfo {
  font-size: 18px;
  color: #555;
  display: flex;
  align-items: center;
}

.bullet {
  font-size: 20px;
  margin-right: 8px;
  color: #007bff;
}

.userName {
  font-size: 26px;
  font-weight: 500;
  color: #2c3e50;
  margin-top: 0px;
}
