.table-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin: 20px auto;
  width: 95%;
  color: #000;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 14px;
}

.custom-table th {
  background: #514943;
  color: white;
  padding: 10px;
  position: sticky;
  top: 0;
}

.custom-table td {
  text-align: center;
  padding: 8px;
  border-right: 1px dashed #ddd;
}

.custom-table tr:nth-child(even) {
  background: #f8f8f8;
}
.custom-table tr:nth-child(odd) {
  background: #ffffff;
}
.custom-table tbody tr:hover {
  background: #e2e8f0;
}

.edited-cell {
  border: 2px solid green;
}
.invalid-cell {
  border: 2px solid red;
}
.disabled-cell {
  color: #999;
  cursor: not-allowed;
}
.inactive-row {
  background: #d9d9d9;
  opacity: 0.6;
}
